body {
    font: 16px/1.5 "Tahoma", "microsoft yahei", "sans serif";
}

.container {
    position: absolute;
    width: 100%;
    height: auto;
}
.header-content {
    height: 50px;
    background-color: #fff;
    color: #777;
    line-height: 50px;
    margin:0 15%;
}

.header-left {
    float: left;
    line-height: 45px;
    margin-left: 20px;
}
.header-left .span {
    font-size: 30px;
    /*display: inline;*/
    margin-right: 20px;
}
.header-left .span-special {
    color: #1ABC9C;
}
.header-right {
    float: right;
}
.header-right .clear-fix li {
    line-height: 20px;
    /*vertical-align: middle;*/
    margin-top: 8px;
    padding: 5px 15px;
    float: left;
    -webkit-transition: ease .5s;
    -moz-transition: ease .5s;
    -ms-transition: ease .5s;
    -o-transition: ease .5s;
    transition: ease .5s;
}
.header-right .clear-fix a {
    text-decoration: none;
    color: #777;
}
.header-right .clear-fix li:hover a {
    color: #fff;
}
.header-right .clear-fix li:hover {
    background-color: #1ABC9C;
    color: #fff;

}

/*------------main--------------*/
.main {
    width: 100%;
    height: 100%;
    background:#eee;
}

.main-container {
    
    width: 70%;
    height: 90%;
    margin: 0 auto;
    background: #fff;
    box-shadow:0px 2px 1px 2px rgba(0, 0, 0, 0.247059) ;
}

button {
    outline:none;
    background:#fff;
    border: 0;
    margin: 0;
    padding:0;
}

.icon img,.icon p:hover,.addus{
    cursor: pointer;
}

@font-face {
    font-family: 'iconfont';
    src: url('//at.alicdn.com/t/font_1457351561_3961005.eot'); /* IE9*/
    src: url('//at.alicdn.com/t/font_1457351561_3961005.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('//at.alicdn.com/t/font_1457351561_3961005.woff') format('woff'), /* chrome、firefox */
    url('//at.alicdn.com/t/font_1457351561_3961005.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('//at.alicdn.com/t/font_1457351561_3961005.svg#iconfont') format('svg'); /* iOS 4.1- */
}



.wrap1 p{
    font-family: Merriweather-Light, Georgia, serif;
    margin-left: 10%;
    font-size: 2.0em;
    color: #34495E;
    letter-spacing: 1px;
    padding: 50px 0;
    text-shadow:0px 2px 2px 2px rgba(0, 0, 0, 0.247059) ;
}

#picture {
    width: 100%;
    text-align: center;
}

hr {
    margin:0 50px;
}

.icon{
    display: inline-block;
    margin: 50px 15px 20px 15px;
}

.icon p{
    line-height: 40px;
    font-size: 20px;
    color: #000;
    letter-spacing: 2px;
    text-align: center;
    font-weight: 200;
    text-shadow: 0 1px 0 #eee;
}

.icon img {
/*头像设置为图片原比例的80%，所以会有大小变化，
原本排列一行设为固定150，圆角75*/
    width: 140px;
    height: 140px;
    -moz-border-radius: 50%;      /* Gecko browsers */
    -webkit-border-radius: 50%;  /* Webkit browsers */
    border-radius:50%;            /* W3C syntax */
}

.addus {
    font-size: 25px;
    font-weight: 200;
    text-align: right;
    margin: 3em 2em;
}

/*---------------footer------------------------*/
.footer {
    background: #eee;
    width: 100%;
    color: #888;
    font-size: 16px;
    
    text-align: center;
}

.copy-right {
    height: 20px;
    padding-bottom: 10px;
}


@media screen and (max-device-width:500px){
    body {
        font-size: 25px;
    }
    .container{
        height: auto;
    }
    .header {
        font-size: 35px;
    }
    
    .header-left .heading{
        display: none;
    }
    
    .main-container {
        width: 100%;
    }
    .icon {
        
        width: 40%;
        height: 40%;
    }
    .icon img {
        width: 80%;
        height: 80%;
        border-radius: 50%;
    }
    
}
@media screen and (min-device-width:1500px){
    .container{
        height: 100%;
    }
}


/**/
.modal-data button{
  display:inline-block;
  position: absolute;
  bottom:10px;
  right: 10px;
  width: 60px;
  height: 30px;
  text-align:center;
  letter-spacing: 3px;
  cursor:pointer;
  border-radius:4px;
  border:1px solid transparent;
  color:#fff;
  background:#1aba9c;
}
.modal-overlay {
  display:none; 
  position: fixed;   /* 使用绝对定位或固定定位  */
  left: 0px;    
  top: 0px;
  width:100%;
  height:100%;
  text-align:center;
  z-index: 1000;
  background-color: rgba(51,51,51,0.5); 
     /* 背景半透明 */
  
}
/* 模态框样式 */
.modal-data{
  width: 500px;
  display: none;
  opacity: 2;
  position: relative;
  margin: 100px auto;
  background-color: #fff;
  
  padding:15px;
  border-radius:4px;
  box-shadow:0px 2px 1px 2px rgba(0, 0, 0, 0.247059) ;
}

.modal-head {
    height: 130px;
}

.modal-head div{
    width: inherit;
}


.modal-head h4 {
    font-size: 1.5em;
    font-weight: 340;
    margin:10px 20px;
    letter-spacing: 1px;
}

.modal-data p {
    padding-top: 15px;
    line-height: 1.5;
}

.modal-data img{
    width: 125px;
    height: 125ox;
    float: left;
    margin: 3px 5px;
}